## Using LEAD or LAG

Let us understand LEAD and LAG functions to get column values from following or prior records.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002480

itv002480

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Windowing Functions").
    master("yarn").
    getOrCreate

username = itv002480
spark = org.apache.spark.sql.SparkSession@484d90ab

org.apache.spark.sql.SparkSession@484d90ab

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

Here is the example where we can get prior or following records based on **ORDER BY** within **OVER** Clause.

In [3]:
%%sql

USE itv002480_retail

Waiting for a Spark session to start...

++
||
++
++

In [4]:
%%sql

SELECT * FROM daily_revenue
ORDER BY order_date DESC
LIMIT 10

+--------------------+--------+
|          order_date| revenue|
+--------------------+--------+
|2014-07-24 00:00:...|50885.19|
|2014-07-23 00:00:...|38795.23|
|2014-07-22 00:00:...|36717.24|
|2014-07-21 00:00:...| 51427.7|
|2014-07-20 00:00:...|60047.45|
|2014-07-19 00:00:...|38420.99|
|2014-07-18 00:00:...| 43856.6|
|2014-07-17 00:00:...|36384.77|
|2014-07-16 00:00:...|43011.92|
|2014-07-15 00:00:...|53480.23|
+--------------------+--------+

In [5]:
%%sql

SELECT t.*,
  lead(order_date) OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue) OVER (ORDER BY order_date DESC) AS prior_revenue,
  lag(order_date) OVER (ORDER BY order_date DESC) AS lag_prior_date,
  lag(revenue) OVER (ORDER BY order_date DESC) AS lag_prior_revenue
FROM daily_revenue AS t
ORDER BY order_date DESC
LIMIT 10

|2014-07-21 00:00:...| 51427.7|2014-07-20 00:00:...|     60047.45|2014-07-22 00:0...

+--------------------+--------+--------------------+-------------+--------------------+-----------------+
|          order_date| revenue|          prior_date|prior_revenue|      lag_prior_date|lag_prior_revenue|
+--------------------+--------+--------------------+-------------+--------------------+-----------------+
|2014-07-24 00:00:...|50885.19|2014-07-23 00:00:...|     38795.23|                null|             null|
|2014-07-23 00:00:...|38795.23|2014-07-22 00:00:...|     36717.24|2014-07-24 00:00:...|         50885.19|
|2014-07-22 00:00:...|36717.24|2014-07-21 00:00:...|      51427.7|2014-07-23 00:00:...|         38795.23|
|2014-07-21 00:00:...| 51427.7|2014-07-20 00:00:...|     60047.45|2014-07-22 00:00:...|         36717.24|
|2014-07-20 00:00:...|60047.45|2014-07-19 00:00:...|     38420.99|2014-07-21 00:00:...|          51427.7|
|2014-07-19 00:00:...|38420.99|2014-07-18 00:00:...|      43856.6|2014-07-20 00:00:...|         60047.45|
|2014-07-18 00:00:...| 43856.6|2014-07-17 00:00:...|     36384.77|2014-07-19 00:00:...|         38420.99|
|2014-07-17 00:00:...|36384.77|2014-07-16 00:00:...|     43011.92|2014-07-18 00:00:...|          43856.6|
|2014-07-16 00:00:...|43011.92|2014-07-15 00:00:...|     53480.23|2014-07-17 00:00:...|         36384.77|
|2014-07-15 00:00:...|53480.23|2014-07-14 00:00:...|     29937.52|2014-07-16 00:00:...|         43011.92|
+--------------------+--------+--------------------+-------------+--------------------+-----------------+

In [6]:
%%sql

SELECT t.*,
  lead(order_date) OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue) OVER (ORDER BY order_date DESC) AS prior_revenue
FROM daily_revenue AS t
ORDER BY order_date DESC

LIMIT 10

|2014-07-17 00:00:...|36384.77|2014-07-16 00:00...

+--------------------+--------+--------------------+-------------+
|          order_date| revenue|          prior_date|prior_revenue|
+--------------------+--------+--------------------+-------------+
|2014-07-24 00:00:...|50885.19|2014-07-23 00:00:...|     38795.23|
|2014-07-23 00:00:...|38795.23|2014-07-22 00:00:...|     36717.24|
|2014-07-22 00:00:...|36717.24|2014-07-21 00:00:...|      51427.7|
|2014-07-21 00:00:...| 51427.7|2014-07-20 00:00:...|     60047.45|
|2014-07-20 00:00:...|60047.45|2014-07-19 00:00:...|     38420.99|
|2014-07-19 00:00:...|38420.99|2014-07-18 00:00:...|      43856.6|
|2014-07-18 00:00:...| 43856.6|2014-07-17 00:00:...|     36384.77|
|2014-07-17 00:00:...|36384.77|2014-07-16 00:00:...|     43011.92|
|2014-07-16 00:00:...|43011.92|2014-07-15 00:00:...|     53480.23|
|2014-07-15 00:00:...|53480.23|2014-07-14 00:00:...|     29937.52|
+--------------------+--------+--------------------+-------------+

We can also pass number of rows as well as default values for nulls as arguments.

In [7]:
%%sql

USE itv002480_retail

++
||
++
++

In [8]:
%%sql

SELECT t.*,
  lead(order_date, 7) OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue, 7) OVER (ORDER BY order_date DESC) AS prior_revenue
FROM daily_revenue t
ORDER BY order_date DESC
LIMIT 10

|2014-07-17 00:00:...|36384.77|2014-07-10 00:00...

+--------------------+--------+--------------------+-------------+
|          order_date| revenue|          prior_date|prior_revenue|
+--------------------+--------+--------------------+-------------+
|2014-07-24 00:00:...|50885.19|2014-07-17 00:00:...|     36384.77|
|2014-07-23 00:00:...|38795.23|2014-07-16 00:00:...|     43011.92|
|2014-07-22 00:00:...|36717.24|2014-07-15 00:00:...|     53480.23|
|2014-07-21 00:00:...| 51427.7|2014-07-14 00:00:...|     29937.52|
|2014-07-20 00:00:...|60047.45|2014-07-13 00:00:...|     40410.99|
|2014-07-19 00:00:...|38420.99|2014-07-12 00:00:...|     38449.77|
|2014-07-18 00:00:...| 43856.6|2014-07-11 00:00:...|     29596.32|
|2014-07-17 00:00:...|36384.77|2014-07-10 00:00:...|     47826.02|
|2014-07-16 00:00:...|43011.92|2014-07-09 00:00:...|     36929.91|
|2014-07-15 00:00:...|53480.23|2014-07-08 00:00:...|     50434.81|
+--------------------+--------+--------------------+-------------+

In [9]:
%%sql

SELECT t.*,
  lead(order_date, 7) OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue, 7) OVER (ORDER BY order_date DESC) AS prior_revenue
FROM daily_revenue t
ORDER BY order_date
LIMIT 10

|2013-08-01 00:00:...|49160.08|2013-07-25 00:00...

+--------------------+--------+--------------------+-------------+
|          order_date| revenue|          prior_date|prior_revenue|
+--------------------+--------+--------------------+-------------+
|2013-07-25 00:00:...|31547.23|                null|         null|
|2013-07-26 00:00:...|54713.23|                null|         null|
|2013-07-27 00:00:...|48411.48|                null|         null|
|2013-07-28 00:00:...|35672.03|                null|         null|
|2013-07-29 00:00:...| 54579.7|                null|         null|
|2013-07-30 00:00:...|49329.29|                null|         null|
|2013-07-31 00:00:...|59212.49|                null|         null|
|2013-08-01 00:00:...|49160.08|2013-07-25 00:00:...|     31547.23|
|2013-08-02 00:00:...|50688.58|2013-07-26 00:00:...|     54713.23|
|2013-08-03 00:00:...|43416.74|2013-07-27 00:00:...|     48411.48|
+--------------------+--------+--------------------+-------------+

In [11]:
%%sql

SELECT t.*,
  lead(order_date, 7, 'NA') OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue, 7, 0) OVER (ORDER BY order_date DESC) AS prior_revenue
FROM daily_revenue t
ORDER BY order_date
LIMIT 10

|2013-08-01 00:00:...|49160.08|2013-07-25 00:00...

+--------------------+--------+--------------------+-------------+
|          order_date| revenue|          prior_date|prior_revenue|
+--------------------+--------+--------------------+-------------+
|2013-07-25 00:00:...|31547.23|                  NA|          0.0|
|2013-07-26 00:00:...|54713.23|                  NA|          0.0|
|2013-07-27 00:00:...|48411.48|                  NA|          0.0|
|2013-07-28 00:00:...|35672.03|                  NA|          0.0|
|2013-07-29 00:00:...| 54579.7|                  NA|          0.0|
|2013-07-30 00:00:...|49329.29|                  NA|          0.0|
|2013-07-31 00:00:...|59212.49|                  NA|          0.0|
|2013-08-01 00:00:...|49160.08|2013-07-25 00:00:...|     31547.23|
|2013-08-02 00:00:...|50688.58|2013-07-26 00:00:...|     54713.23|
|2013-08-03 00:00:...|43416.74|2013-07-27 00:00:...|     48411.48|
+--------------------+--------+--------------------+-------------+

Let us see how we can get prior or following records with in a group based on particular order.

Here is the example where we can get prior or following records based on **PARTITION BY** and then **ORDER BY** Clause.

In [12]:
%%sql

USE itv002480_retail

++
||
++
++

In [14]:
%%sql

DESCRIBE daily_product_revenue

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|          order_date|   string|   null|
|order_item_produc...|      int|   null|
|             revenue|   double|   null|
+--------------------+---------+-------+

In [15]:
%%sql

SELECT * FROM daily_product_revenue 
ORDER BY order_date, revenue DESC
LIMIT 10

+--------------------+------...

+--------------------+---------------------+-------+
|          order_date|order_item_product_id|revenue|
+--------------------+---------------------+-------+
|2013-07-25 00:00:...|                 1004|5599.72|
|2013-07-25 00:00:...|                  191|5099.49|
|2013-07-25 00:00:...|                  957| 4499.7|
|2013-07-25 00:00:...|                  365|3359.44|
|2013-07-25 00:00:...|                 1073|2999.85|
|2013-07-25 00:00:...|                 1014|2798.88|
|2013-07-25 00:00:...|                  403|1949.85|
|2013-07-25 00:00:...|                  502| 1650.0|
|2013-07-25 00:00:...|                  627|1079.73|
|2013-07-25 00:00:...|                  226| 599.99|
+--------------------+---------------------+-------+

In [16]:
%%sql

SELECT t.*,
  LEAD(order_item_product_id) OVER (
    PARTITION BY order_date 
    ORDER BY revenue DESC
  ) next_product_id,
  LEAD(revenue) OVER (
    PARTITION BY order_date 
    ORDER BY revenue DESC
  ) next_revenue
FROM daily_product_revenue t
ORDER BY order_date, revenue DESC
LIMIT 100

|2013-07-25 00:00:...|                 1014|2798.88|         ...

+--------------------+---------------------+-------+---------------+------------+
|          order_date|order_item_product_id|revenue|next_product_id|next_revenue|
+--------------------+---------------------+-------+---------------+------------+
|2013-07-25 00:00:...|                 1004|5599.72|            191|     5099.49|
|2013-07-25 00:00:...|                  191|5099.49|            957|      4499.7|
|2013-07-25 00:00:...|                  957| 4499.7|            365|     3359.44|
|2013-07-25 00:00:...|                  365|3359.44|           1073|     2999.85|
|2013-07-25 00:00:...|                 1073|2999.85|           1014|     2798.88|
|2013-07-25 00:00:...|                 1014|2798.88|            403|     1949.85|
|2013-07-25 00:00:...|                  403|1949.85|            502|      1650.0|
|2013-07-25 00:00:...|                  502| 1650.0|            627|     1079.73|
|2013-07-25 00:00:...|                  627|1079.73|            226|      599.99|
|2013-07-25 00:00:...|                  226| 599.99|             24|      319.96|
+--------------------+---------------------+-------+---------------+------------+
only showing top 10 rows

In [17]:
spark.sql("""
    SELECT t.*,
      LEAD(order_item_product_id) OVER (
        PARTITION BY order_date 
        ORDER BY revenue DESC
      ) next_product_id,
      LEAD(revenue) OVER (
        PARTITION BY order_date 
        ORDER BY revenue DESC
      ) next_revenue
    FROM daily_product_revenue t
    ORDER BY order_date, revenue DESC
""").
    show(100, false)

+---------------------+---------------------+--------+---------------+------------+
|order_date           |order_item_product_id|revenue |next_product_id|next_revenue|
+---------------------+---------------------+--------+---------------+------------+
|2013-07-25 00:00:00.0|1004                 |5599.72 |191            |5099.49     |
|2013-07-25 00:00:00.0|191                  |5099.49 |957            |4499.7      |
|2013-07-25 00:00:00.0|957                  |4499.7  |365            |3359.44     |
|2013-07-25 00:00:00.0|365                  |3359.44 |1073           |2999.85     |
|2013-07-25 00:00:00.0|1073                 |2999.85 |1014           |2798.88     |
|2013-07-25 00:00:00.0|1014                 |2798.88 |403            |1949.85     |
|2013-07-25 00:00:00.0|403                  |1949.85 |502            |1650.0      |
|2013-07-25 00:00:00.0|502                  |1650.0  |627            |1079.73     |
|2013-07-25 00:00:00.0|627                  |1079.73 |226            |599.99      |
|2013-07-25 00:00:00.0|226                  |599.99  |24             |319.96      |
|2013-07-25 00:00:00.0|24                   |319.96  |821            |207.96      |
|2013-07-25 00:00:00.0|821                  |207.96  |625            |199.99      |
|2013-07-25 00:00:00.0|625                  |199.99  |705            |119.99      |
|2013-07-25 00:00:00.0|705                  |119.99  |572            |119.97      |
|2013-07-25 00:00:00.0|572                  |119.97  |666            |109.99      |
|2013-07-25 00:00:00.0|666                  |109.99  |725            |108.0       |
|2013-07-25 00:00:00.0|725                  |108.0   |134            |100.0       |
|2013-07-25 00:00:00.0|134                  |100.0   |906            |99.96       |
|2013-07-25 00:00:00.0|906                  |99.96   |828            |95.97       |
|2013-07-25 00:00:00.0|828                  |95.97   |810            |79.96       |
|2013-07-25 00:00:00.0|810                  |79.96   |924            |79.95       |
|2013-07-25 00:00:00.0|924                  |79.95   |926            |79.95       |
|2013-07-25 00:00:00.0|926                  |79.95   |93             |74.97       |
|2013-07-25 00:00:00.0|93                   |74.97   |835            |63.98       |
|2013-07-25 00:00:00.0|835                  |63.98   |897            |49.98       |
|2013-07-25 00:00:00.0|897                  |49.98   |null           |null        |
|2013-07-26 00:00:00.0|1004                 |10799.46|365            |7978.67     |
|2013-07-26 00:00:00.0|365                  |7978.67 |957            |6899.54     |
|2013-07-26 00:00:00.0|957                  |6899.54 |191            |6799.32     |
|2013-07-26 00:00:00.0|191                  |6799.32 |1014           |4798.08     |
|2013-07-26 00:00:00.0|1014                 |4798.08 |502            |4250.0      |
|2013-07-26 00:00:00.0|502                  |4250.0  |1073           |3999.8      |
|2013-07-26 00:00:00.0|1073                 |3999.8  |403            |3249.75     |
|2013-07-26 00:00:00.0|403                  |3249.75 |627            |3039.24     |
|2013-07-26 00:00:00.0|627                  |3039.24 |691            |399.95      |
|2013-07-26 00:00:00.0|691                  |399.95  |818            |287.94      |
|2013-07-26 00:00:00.0|818                  |287.94  |565            |280.0       |
|2013-07-26 00:00:00.0|565                  |280.0   |278            |269.94      |
|2013-07-26 00:00:00.0|278                  |269.94  |822            |239.95      |
|2013-07-26 00:00:00.0|822                  |239.95  |282            |159.95      |
|2013-07-26 00:00:00.0|282                  |159.95  |804            |159.92      |
|2013-07-26 00:00:00.0|804                  |159.92  |917            |153.93      |
|2013-07-26 00:00:00.0|917                  |153.93  |982            |149.99      |
|2013-07-26 00:00:00.0|982                  |149.99  |116            |134.97      |
|2013-07-26 00:00:00.0|116                  |134.97  |828            |127.96      |
|2013-07-26 00:00:00.0|828                  |127.96  |135            |110.0       |
|2013-07-26 00:00:00.0|135                  |110.0   |134            |100.0       |
|2013-07-26 00:00:00.0|134                  |100.0   |564            |90.0        |
|2013-07-26 00:00:00.0|564                  |90.0    |792            |89.94       |
|2013-07-26 00:00:00.0|792                  |89.94   |897            |74.97       |
|2013-07-26 00:00:00.0|897                  |74.97   |775            |39.96       |
|2013-07-26 00:00:00.0|775                  |39.96   |172            |30.0        |
|2013-07-26 00:00:00.0|172                  |30.0    |null           |null        |
|2013-07-27 00:00:00.0|1004                 |9599.52 |191            |5999.4      |
|2013-07-27 00:00:00.0|191                  |5999.4  |957            |5699.62     |
|2013-07-27 00:00:00.0|957                  |5699.62 |1073           |5399.73     |
|2013-07-27 00:00:00.0|1073                 |5399.73 |365            |5099.15     |
|2013-07-27 00:00:00.0|365                  |5099.15 |502            |5050.0      |
|2013-07-27 00:00:00.0|502                  |5050.0  |1014           |4498.2      |
|2013-07-27 00:00:00.0|1014                 |4498.2  |403            |2469.81     |
|2013-07-27 00:00:00.0|403                  |2469.81 |627            |2039.49     |
|2013-07-27 00:00:00.0|627                  |2039.49 |203            |399.99      |
|2013-07-27 00:00:00.0|203                  |399.99  |728            |390.0       |
|2013-07-27 00:00:00.0|728                  |390.0   |828            |223.93      |
|2013-07-27 00:00:00.0|828                  |223.93  |771            |199.95      |
|2013-07-27 00:00:00.0|771                  |199.95  |172            |150.0       |
|2013-07-27 00:00:00.0|172                  |150.0   |647            |134.99      |
|2013-07-27 00:00:00.0|647                  |134.99  |715            |129.99      |
|2013-07-27 00:00:00.0|715                  |129.99  |567            |125.0       |
|2013-07-27 00:00:00.0|567                  |125.0   |93             |124.95      |
|2013-07-27 00:00:00.0|93                   |124.95  |135            |110.0       |
|2013-07-27 00:00:00.0|135                  |110.0   |924            |95.94       |
|2013-07-27 00:00:00.0|924                  |95.94   |886            |74.97       |
|2013-07-27 00:00:00.0|886                  |74.97   |797            |71.96       |
|2013-07-27 00:00:00.0|797                  |71.96   |564            |60.0        |
|2013-07-27 00:00:00.0|564                  |60.0    |821            |51.99       |
|2013-07-27 00:00:00.0|821                  |51.99   |893            |49.98       |
|2013-07-27 00:00:00.0|893                  |49.98   |906            |49.98       |
|2013-07-27 00:00:00.0|906                  |49.98   |792            |44.97       |
|2013-07-27 00:00:00.0|792                  |44.97   |703            |39.98       |
|2013-07-27 00:00:00.0|703                  |39.98   |273            |27.99       |
|2013-07-27 00:00:00.0|273                  |27.99   |null           |null        |
|2013-07-28 00:00:00.0|1004                 |5599.72 |957            |5099.66     |
|2013-07-28 00:00:00.0|957                  |5099.66 |365            |4799.2      |
|2013-07-28 00:00:00.0|365                  |4799.2  |403            |4419.66     |
|2013-07-28 00:00:00.0|403                  |4419.66 |191            |4299.57     |
|2013-07-28 00:00:00.0|191                  |4299.57 |502            |3650.0      |
|2013-07-28 00:00:00.0|502                  |3650.0  |1014           |2748.9      |
|2013-07-28 00:00:00.0|1014                 |2748.9  |1073           |2399.88     |
|2013-07-28 00:00:00.0|1073                 |2399.88 |627            |1119.72     |
|2013-07-28 00:00:00.0|627                  |1119.72 |564            |300.0       |
|2013-07-28 00:00:00.0|564                  |300.0   |858            |199.99      |
|2013-07-28 00:00:00.0|858                  |199.99  |728            |195.0       |
|2013-07-28 00:00:00.0|728                  |195.0   |273            |139.95      |
|2013-07-28 00:00:00.0|273                  |139.95  |567            |125.0       |
|2013-07-28 00:00:00.0|567                  |125.0   |249            |109.94      |
|2013-07-28 00:00:00.0|249                  |109.94  |917            |87.96       |
|2013-07-28 00:00:00.0|917                  |87.96   |235            |69.98       |
|2013-07-28 00:00:00.0|235                  |69.98   |835            |63.98       |
|2013-07-28 00:00:00.0|835                  |63.98   |926            |63.96       |
+---------------------+---------------------+--------+---------------+------------+
only showing top 100 rows

We can also pass number of rows as well as default values for nulls as arguments.

In [18]:
%%sql

SELECT t.*,
  LEAD(order_item_product_id) OVER (
    PARTITION BY order_date ORDER BY revenue DESC
  ) next_product_id,
  LEAD(revenue, 1, 0) OVER (
    PARTITION BY order_date ORDER BY revenue DESC
  ) next_revenue
FROM daily_product_revenue t
ORDER BY order_date, revenue DESC
LIMIT 100

|2013-07-25 00:00:...|                 1014|2798.88|         ...

+--------------------+---------------------+-------+---------------+------------+
|          order_date|order_item_product_id|revenue|next_product_id|next_revenue|
+--------------------+---------------------+-------+---------------+------------+
|2013-07-25 00:00:...|                 1004|5599.72|            191|     5099.49|
|2013-07-25 00:00:...|                  191|5099.49|            957|      4499.7|
|2013-07-25 00:00:...|                  957| 4499.7|            365|     3359.44|
|2013-07-25 00:00:...|                  365|3359.44|           1073|     2999.85|
|2013-07-25 00:00:...|                 1073|2999.85|           1014|     2798.88|
|2013-07-25 00:00:...|                 1014|2798.88|            403|     1949.85|
|2013-07-25 00:00:...|                  403|1949.85|            502|      1650.0|
|2013-07-25 00:00:...|                  502| 1650.0|            627|     1079.73|
|2013-07-25 00:00:...|                  627|1079.73|            226|      599.99|
|2013-07-25 00:00:...|                  226| 599.99|             24|      319.96|
+--------------------+---------------------+-------+---------------+------------+
only showing top 10 rows

In [19]:
spark.sql("""
    SELECT t.*,
      LEAD(order_item_product_id) OVER (
        PARTITION BY order_date ORDER BY revenue DESC
      ) next_product_id,
      LEAD(revenue, 1, 0) OVER (
        PARTITION BY order_date ORDER BY revenue DESC
      ) next_revenue
    FROM daily_product_revenue t
    ORDER BY order_date, revenue DESC
    LIMIT 100
""").
    show(100, false)

+---------------------+---------------------+--------+---------------+------------+
|order_date           |order_item_product_id|revenue |next_product_id|next_revenue|
+---------------------+---------------------+--------+---------------+------------+
|2013-07-25 00:00:00.0|1004                 |5599.72 |191            |5099.49     |
|2013-07-25 00:00:00.0|191                  |5099.49 |957            |4499.7      |
|2013-07-25 00:00:00.0|957                  |4499.7  |365            |3359.44     |
|2013-07-25 00:00:00.0|365                  |3359.44 |1073           |2999.85     |
|2013-07-25 00:00:00.0|1073                 |2999.85 |1014           |2798.88     |
|2013-07-25 00:00:00.0|1014                 |2798.88 |403            |1949.85     |
|2013-07-25 00:00:00.0|403                  |1949.85 |502            |1650.0      |
|2013-07-25 00:00:00.0|502                  |1650.0  |627            |1079.73     |
|2013-07-25 00:00:00.0|627                  |1079.73 |226            |599.99      |
|2013-07-25 00:00:00.0|226                  |599.99  |24             |319.96      |
|2013-07-25 00:00:00.0|24                   |319.96  |821            |207.96      |
|2013-07-25 00:00:00.0|821                  |207.96  |625            |199.99      |
|2013-07-25 00:00:00.0|625                  |199.99  |705            |119.99      |
|2013-07-25 00:00:00.0|705                  |119.99  |572            |119.97      |
|2013-07-25 00:00:00.0|572                  |119.97  |666            |109.99      |
|2013-07-25 00:00:00.0|666                  |109.99  |725            |108.0       |
|2013-07-25 00:00:00.0|725                  |108.0   |134            |100.0       |
|2013-07-25 00:00:00.0|134                  |100.0   |906            |99.96       |
|2013-07-25 00:00:00.0|906                  |99.96   |828            |95.97       |
|2013-07-25 00:00:00.0|828                  |95.97   |810            |79.96       |
|2013-07-25 00:00:00.0|810                  |79.96   |924            |79.95       |
|2013-07-25 00:00:00.0|924                  |79.95   |926            |79.95       |
|2013-07-25 00:00:00.0|926                  |79.95   |93             |74.97       |
|2013-07-25 00:00:00.0|93                   |74.97   |835            |63.98       |
|2013-07-25 00:00:00.0|835                  |63.98   |897            |49.98       |
|2013-07-25 00:00:00.0|897                  |49.98   |null           |0.0         |
|2013-07-26 00:00:00.0|1004                 |10799.46|365            |7978.67     |
|2013-07-26 00:00:00.0|365                  |7978.67 |957            |6899.54     |
|2013-07-26 00:00:00.0|957                  |6899.54 |191            |6799.32     |
|2013-07-26 00:00:00.0|191                  |6799.32 |1014           |4798.08     |
|2013-07-26 00:00:00.0|1014                 |4798.08 |502            |4250.0      |
|2013-07-26 00:00:00.0|502                  |4250.0  |1073           |3999.8      |
|2013-07-26 00:00:00.0|1073                 |3999.8  |403            |3249.75     |
|2013-07-26 00:00:00.0|403                  |3249.75 |627            |3039.24     |
|2013-07-26 00:00:00.0|627                  |3039.24 |691            |399.95      |
|2013-07-26 00:00:00.0|691                  |399.95  |818            |287.94      |
|2013-07-26 00:00:00.0|818                  |287.94  |565            |280.0       |
|2013-07-26 00:00:00.0|565                  |280.0   |278            |269.94      |
|2013-07-26 00:00:00.0|278                  |269.94  |822            |239.95      |
|2013-07-26 00:00:00.0|822                  |239.95  |282            |159.95      |
|2013-07-26 00:00:00.0|282                  |159.95  |804            |159.92      |
|2013-07-26 00:00:00.0|804                  |159.92  |917            |153.93      |
|2013-07-26 00:00:00.0|917                  |153.93  |982            |149.99      |
|2013-07-26 00:00:00.0|982                  |149.99  |116            |134.97      |
|2013-07-26 00:00:00.0|116                  |134.97  |828            |127.96      |
|2013-07-26 00:00:00.0|828                  |127.96  |135            |110.0       |
|2013-07-26 00:00:00.0|135                  |110.0   |134            |100.0       |
|2013-07-26 00:00:00.0|134                  |100.0   |564            |90.0        |
|2013-07-26 00:00:00.0|564                  |90.0    |792            |89.94       |
|2013-07-26 00:00:00.0|792                  |89.94   |897            |74.97       |
|2013-07-26 00:00:00.0|897                  |74.97   |775            |39.96       |
|2013-07-26 00:00:00.0|775                  |39.96   |172            |30.0        |
|2013-07-26 00:00:00.0|172                  |30.0    |null           |0.0         |
|2013-07-27 00:00:00.0|1004                 |9599.52 |191            |5999.4      |
|2013-07-27 00:00:00.0|191                  |5999.4  |957            |5699.62     |
|2013-07-27 00:00:00.0|957                  |5699.62 |1073           |5399.73     |
|2013-07-27 00:00:00.0|1073                 |5399.73 |365            |5099.15     |
|2013-07-27 00:00:00.0|365                  |5099.15 |502            |5050.0      |
|2013-07-27 00:00:00.0|502                  |5050.0  |1014           |4498.2      |
|2013-07-27 00:00:00.0|1014                 |4498.2  |403            |2469.81     |
|2013-07-27 00:00:00.0|403                  |2469.81 |627            |2039.49     |
|2013-07-27 00:00:00.0|627                  |2039.49 |203            |399.99      |
|2013-07-27 00:00:00.0|203                  |399.99  |728            |390.0       |
|2013-07-27 00:00:00.0|728                  |390.0   |828            |223.93      |
|2013-07-27 00:00:00.0|828                  |223.93  |771            |199.95      |
|2013-07-27 00:00:00.0|771                  |199.95  |172            |150.0       |
|2013-07-27 00:00:00.0|172                  |150.0   |647            |134.99      |
|2013-07-27 00:00:00.0|647                  |134.99  |715            |129.99      |
|2013-07-27 00:00:00.0|715                  |129.99  |567            |125.0       |
|2013-07-27 00:00:00.0|567                  |125.0   |93             |124.95      |
|2013-07-27 00:00:00.0|93                   |124.95  |135            |110.0       |
|2013-07-27 00:00:00.0|135                  |110.0   |924            |95.94       |
|2013-07-27 00:00:00.0|924                  |95.94   |886            |74.97       |
|2013-07-27 00:00:00.0|886                  |74.97   |797            |71.96       |
|2013-07-27 00:00:00.0|797                  |71.96   |564            |60.0        |
|2013-07-27 00:00:00.0|564                  |60.0    |821            |51.99       |
|2013-07-27 00:00:00.0|821                  |51.99   |906            |49.98       |
|2013-07-27 00:00:00.0|906                  |49.98   |893            |49.98       |
|2013-07-27 00:00:00.0|893                  |49.98   |792            |44.97       |
|2013-07-27 00:00:00.0|792                  |44.97   |703            |39.98       |
|2013-07-27 00:00:00.0|703                  |39.98   |273            |27.99       |
|2013-07-27 00:00:00.0|273                  |27.99   |null           |0.0         |
|2013-07-28 00:00:00.0|1004                 |5599.72 |957            |5099.66     |
|2013-07-28 00:00:00.0|957                  |5099.66 |365            |4799.2      |
|2013-07-28 00:00:00.0|365                  |4799.2  |403            |4419.66     |
|2013-07-28 00:00:00.0|403                  |4419.66 |191            |4299.57     |
|2013-07-28 00:00:00.0|191                  |4299.57 |502            |3650.0      |
|2013-07-28 00:00:00.0|502                  |3650.0  |1014           |2748.9      |
|2013-07-28 00:00:00.0|1014                 |2748.9  |1073           |2399.88     |
|2013-07-28 00:00:00.0|1073                 |2399.88 |627            |1119.72     |
|2013-07-28 00:00:00.0|627                  |1119.72 |564            |300.0       |
|2013-07-28 00:00:00.0|564                  |300.0   |858            |199.99      |
|2013-07-28 00:00:00.0|858                  |199.99  |728            |195.0       |
|2013-07-28 00:00:00.0|728                  |195.0   |273            |139.95      |
|2013-07-28 00:00:00.0|273                  |139.95  |567            |125.0       |
|2013-07-28 00:00:00.0|567                  |125.0   |249            |109.94      |
|2013-07-28 00:00:00.0|249                  |109.94  |917            |87.96       |
|2013-07-28 00:00:00.0|917                  |87.96   |235            |69.98       |
|2013-07-28 00:00:00.0|235                  |69.98   |835            |63.98       |
|2013-07-28 00:00:00.0|835                  |63.98   |926            |63.96       |
+---------------------+---------------------+--------+---------------+------------+